# day 11

sets

# creating set

In [1]:
a = {"animals" , "ball" ,"cat"}
print(a)
print(type(a))

{'cat', 'animals', 'ball'}
<class 'set'>

# duplicates not allowed

In [2]:
a = {"animals" , "ball" ,"cat", "ball" ,"cat"}
print(a)

{'cat', 'animals', 'ball'}

# true and 1 is considered same

In [3]:

a = {"animals" , "ball" ,"cat",1,2,True}
print(a)

{'cat', 1, 2, 'animals', 'ball'}

# length

In [5]:
a = {"animals" , "ball" ,"cat","cat",1,2,True}
print(len(a))

5

# set items -data types

In [6]:
x1 = {1,2,3,4}
x2 = {1.1,2.3,3.5}
x3 = {"abc","def"}
x4 = {True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.1, 2.3, 3.5} {'abc', 'def'} {False, True}

In [8]:
m= {2,52.3,"apple",True}
print(m)

{True, 2, 52.3, 'apple'}

# list and dictionary can't be passed to set cause list is ordered

In [10]:
x5 = {[1,2,3,4]}
print(x5)

TypeError: unhashable type: 'list'

# tuple passed to set caused unordered

In [11]:
x5 = {(1,2,3,4)}
print(x5)

{(1, 2, 3, 4)}

# nesting is not property of set

In [12]:
x5 = {{1,2,3,4},{5,6,7}}
print(x5)

TypeError: unhashable type: 'set'

# set constructor

In [15]:
myset = set(("alpha","beta","gamma"))
print(myset)
print(type(myset))

{'gamma', 'alpha', 'beta'}
<class 'set'>

# empty set

In [18]:
a = set()
print(a)
print(type(a))

set()
<class 'set'>

# accessing

In [19]:
a = {"a","b","c"}
for i in a:
    print(i)

c
b
a

# check if item is in set or not

In [21]:
a = {"data","python","code"}
print("code" in a)
print("cod" in a)

True
False

# Add items in set

In [22]:
a = {"a","b","c"}
a.add(100)
print(a)

{'c', 'b', 100, 'a'}

# add entire set in another set

In [23]:
a = {"a","b","c"}
b = {"d","e","f"}
a.update(b)
print(a)

{'e', 'd', 'a', 'c', 'f', 'b'}

# remove item

In [24]:
a = {"a","b","c","d"}
a.remove("c")
print(a)

{'b', 'd', 'a'}

In [26]:
a = {"a","b","c","d","e","f"}
a.pop()
print(a)

{'d', 'a', 'c', 'f', 'b'}

In [27]:
a = {"a","b","c","d","e","f"}
a.clear()
print(a)

set()

In [28]:
a = {"a","b","c","d","e","f"}
del a
print(a)

NameError: name 'a' is not defined

# join two sets

In [29]:
a = {"a","b","c"}
b = {"d","e","f"}
c = a.union(b)
print(c)

{'e', 'd', 'a', 'c', 'f', 'b'}

# program to find max and min value

In [30]:
a = {10,5,3,6,9,20,4}
print("original " ,a)
print("max " , max(a))
print("min " , min(a))

original  {3, 4, 5, 6, 20, 9, 10}
max  20
min  3

# return new set of identical items

In [31]:
a = {10,5,3,6,9,20,4}
b = {20,3,8,9,52,62,1}
print(a.intersection(b))

{9, 3, 20}

In [33]:
a = {10,5,3,6,9,20,4}
print(len(a))
print(max(a))
print(min(a))
mytuple = tuple(a)
print(mytuple)
print(type(mytuple))
mylist = list(a)
print(mylist)
print(type(mylist))

7
20
3
(3, 4, 5, 6, 20, 9, 10)
<class 'tuple'>
[3, 4, 5, 6, 20, 9, 10]
<class 'list'>