# day 9

tuples

# creating tuples

In [1]:
mytuple = (1,2,3,4,5)
print(mytuple)
print(type(mytuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

# mixed datatype

In [2]:
mytuple = (1,2,3,4,5,5.5,"hello")
print(mytuple)

(1, 2, 3, 4, 5, 5.5, 'hello')

# empty tuple

In [4]:
mytuple = ()
print(mytuple)

()

# nested tuple

In [5]:
a = ("data" , [1,2,3],(5,6,7))
print(a)

('data', [1, 2, 3], (5, 6, 7))

# creating tuple with only one item with ,

In [9]:
var1 = ("hello",)
print(var1)
print(type(var1))

('hello',)
<class 'tuple'>

# tuple constructor

In [12]:
a = tuple(("a","b","c"))
print(a)

('a', 'b', 'c')

# indexing

In [15]:
a = (47,48,45,46,48,4,8,"python")
print(a[5])
print(a[-5])

4
46

# slicing

In [18]:
a = (47,48,45,46,48,4,8,7,5,9)
print(a[3:8])

(46, 48, 4, 8, 7)

In [19]:
a = (47,48,45,46,48,4,8,7,5,9)
print(a[::2])

(47, 45, 48, 8, 5)

# reverse tuple

In [20]:
a = (47,48,45,46,48,4,8,7,5,9)
print(a[::-1])

(9, 5, 7, 8, 4, 48, 46, 45, 48, 47)

In [21]:
t = (1,2,3,4,5,6,7,8,9)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)
()

# adding element to tuple by converting to list

In [23]:
a = (1,2,3,4,5,6,7,8,9)
b = list(a) #converting tuple to list
b.append(10)
a = tuple(b)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# removing element from tuple by converting to list

In [24]:
a = (1,2,3,4,5,6,7,8,9)
b = list(a) #converting tuple to list
b.remove(8)
a = tuple(b)
print(a)

(1, 2, 3, 4, 5, 6, 7, 9)

# delete function

In [28]:
a = (1,2,3,4,5,6,7,8,9)
del a

In [29]:
print(a)

NameError: name 'a' is not defined

# loop

In [31]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# join two tuple

In [32]:
x = ("a","b","c")
y = ("a","b","c")
print(x+y)

('a', 'b', 'c', 'a', 'b', 'c')

# multiply two tuples

In [33]:
x = ("a","b","c")
print(x*3)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [34]:
t = (1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# write a program to take 5input from user and store it in tuple

In [47]:
mytuple = ()
for i in range(5):
    a = input("enter 5 input ")
    mytuple = mytuple + (a,)
    i = i+1
print(mytuple)
print(type(mytuple))

enter 5 input 1
enter 5 input 2
enter 5 input 3
enter 5 input 4
enter 5 input 5
('1', '2', '3', '4', '5')
<class 'tuple'>

In [ ]:
3